<h1>Signup:</h1>
<table>
  <%= form_for @user do |form| %>
  <tr>
    <td>
      <%= form.label :first_name %>:
    </td>
    <td>
      <%= form.text_field :first_name%><br />
    </td>
  </tr>
  <tr>
    <td>
      <%= form.label :last_name %>:
    </td>
    <td>
      <%= form.text_field :last_name%><br />
    </td>
  </tr>
  <tr>
    <td>
      <%= form.label :email %>:
    </td>
    <td>
      <%= form.text_field :email %><br />
    </td>
  </tr>
  <tr>
    <td>
      <%= form.label :password %>:
    </td>
    <td>
      <%= form.password_field :password %><br />
    </td>
  </tr>
  <td>
    <%= form.submit "Submit" %>
  </td>
  <% end %>
</table>
